.sc {
  background-color: #fff;
  background-color: #f3f3ed9d;
  padding: 80px 0;
}
.hopes {
  position: relative;
  width: 100%;
}
.balki {
  background-color: #1a1a1a;
  width: fit-content;
  padding: 15px;
  margin-top: 10px;
  color: #ffff;
  text-decoration: none;
}

.bosi {
  display: flex;
  align-items: center;
  justify-content: center;
}
.uu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.ab_titles {
  /* position: absolute; */
  bottom: 100px;
  left: 130px;
  font-family: "bodini";
  font-size: 11px;
  border: 5px solid #fff;
  padding: 15px;
  border-radius: 50px;
  background-color: #1a1a1a;
  color: #fff;
}
.doha {
  border: 4px solid #1a1a1a;
  border-radius: 50px;
}
.sc_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.hab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ui {
  margin-bottom: 0px;
}

.r {
  text-align: left;
  width: 100%;
}

.tops {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* margin-top: -50px; */
  justify-content: center;
  /* border: 1px solid #000; */
  position: relative;
}

.text_sc {
  font-family: "eb";
  font-weight: 200;
  font-size: 60px;
}

.sc_sub {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.text_sc_p {
  font-family: "pio";
  font-size: 70px;
  font-weight: 400;
}

.hope {
  /* position: absolute; */
  /* inset: 0; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.hopes {
  /* position: absolute; */
  /* inset: 0; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.gio {
  display: flex;
  align-items: flex-end !important;
  width: 100%;
  justify-content: center;
}

.yy {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
}
/* ADD TEXT RESPONSIVE TO YOUR EXISTING CODE - Inside your media queries */

@media (max-width: 1024px) {
  .sc_grid {
    display: flex;
    flex-direction: column;
  }

  .hope,
  .tops {
    align-items: flex-start;
    justify-content: flex-start;
  }

  /* TEXT RESPONSIVE ADDED */
  .text_sc {
    font-size: 48px !important;
    text-align: center;
  }
  .text_sc_p {
    font-size: 56px !important;
    text-align: center;
  }
}

@media (max-width: 824px) {
  .sc_grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .sc {
    padding: 40px 20px;
  }

  .hope,
  .tops {
    align-items: center;
    justify-content: flex-start;
  }

  .sc_sub {
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hab,
  .mo {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ui {
    margin-bottom: 30px;
  }

  /* TEXT RESPONSIVE ADDED */
  .text_sc {
    font-size: 42px !important;
  }
  .text_sc_p {
    font-size: 48px !important;
  }
}

/* NEW - SMALLER DEVICES ADDED TO YOUR CODE */
@media (max-width: 575px) {
  .text_sc {
    font-size: 36px !important;
  }
  .text_sc_p {
    font-size: 42px !important;
  }
}

@media (max-width: 360px) {
  .text_sc {
    font-size: 32px !important;
  }
  .text_sc_p {
    font-size: 38px !important;
  }
}
