.count {
  background-image: url("../../assets/ring.jpg");
  padding: 150px 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.count::after {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00000073;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
}

.count_grid {
  position: relative;
  z-index: 1;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.co_day {
  font-family: "bodini";
  font-size: 80px;
  text-align: center;

  font-weight: 400;
}
.count_sub {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.co_value {
  text-align: center;
  font-family: "eb";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

.co_separator {
  font-size: 50px;
  margin-top: -50px;
  font-weight: 400;
  font-family: "eb";
}

@media (max-width: 824px) {
  .co_day {
    font-size: 40px;
  }

  .count_grid {
    gap: 20px;
  }

  .uuu {
    display: none;
  }

  .count {
    padding: 70px 20px;
  }
}
